@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

header {
    margin: 0;
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: #FFF;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h3me {
    color: #0FFF95;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nava {
    color: #FFF;
    text-align: center;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2vw;
    text-decoration: none;
}

.nava:hover {
    border-bottom: 3px solid currentColor; /* Or whatever color you want */
    transition: ease all 0.05s;
    text-decoration: none;
}

body {
    background-color: #121212;
    margin-left: 7vw;
    margin-right: 7vw;
}

.ultbody {
    background-color: #121212;
}

.ultbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 81vh;
}

h1 {
    color: #0fff95;
    font-family: 'Arimo', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

h2 {
    color: #FFF;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.1vh;
    padding: 0;
}

.links {
    margin-top: 7vh;
}

.quicklink {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #0fff95;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    border-radius: 2px;
    text-decoration: none;
    color: #121212;
    font-weight: 700;
    margin: 0;
    transition: ease all 0.2s;
    margin-right: 9px;
}

.quicklink:hover {
    transition: ease all 0.2s;
    background-color: transparent;
    color: white;
    outline: 1px solid #0fff95;
}

p {
    color: #FFF;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 19.684px */
    max-width: 730px;
    margin-top: 1vh;
    padding: 0;
}

.linksp {
    color: #FFF;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
}

b {
    margin: 0;
}

.icon {
    width: 13px;
    margin: 0;
}

.link-flex-box {
    display: flex;
    margin: 0;
}

.portrait-container {
    display: flex;
    align-items:center;
    border-radius: 100%;
    border: 2px solid white;
    border-color: white;
    width: 303px;
    height: 304px;
    flex-shrink: 0;
}

span {
    font-family: 'Arimo', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

strong {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    .portrait-container {
        display: none;
    }

    .nava {
        display: none;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    .linksp {
        font-size: 18px;
    }

    .quicklink {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        padding: 8px;
        background-color: #0fff95;
        font-family: 'Arimo', sans-serif;
        font-size: 15px;
        border-radius: 2px;
        text-decoration: none;
        color: #121212;
        font-weight: 700;
        margin: 0;
        margin-right: 9px;
    }
}

