@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
    --yellow: #FFF49C;
    --black: #1D1C1A;
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: calc(100vh - 1px);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    justify-content: center;
}

.container h1 {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    font-size: 64px;
    color: var(--yellow)
}

.container p {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    color: #cdcdcd;
}

img {
    max-width: 300px;
}

.footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%
}

.footer p {
    color: #b5b5b5;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

a {
    color: #b5b5b5;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

a:hover {
    color: var(--yellow)
}
