@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
    --yellow: #FFF49C;
    --black: #1D1C1A;
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: calc(100vh);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-content: space-between
}

.container h1 {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    font-size: 64px;
    color: var(--yellow)
}

.container p {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #cdcdcd;
}

a {
    color: #b5b5b5;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

a:hover {
    color: var(--yellow)
}


@media only screen and (max-width: 600px) {
    .container h1 {
      font-size: 32px;
    }
  }